@model IList<GeekTime.Models.Post>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostPage</title>
</head>
<body>
    <h1>Посты GeekTime:</h1>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Ссылка на вк</th>
            <th>Картинка</th>
            <th>Описание</th>
            <th>ID Админа</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Vk_link</td>
                    <td>@item.Image</td>
                    <td>@item.Describtion</td>
                    <td>@item.Admin</td>
                </tr>
            }
        }
    </table>
    <a asp-area="" asp-controller="Post" asp-action="CreatePost">Добавить пост</a>
    <a asp-area="" asp-controller="Post" asp-action="DeletePost">Удалить пост</a>
</body>

</html>