@model IList<GeekTime.Models.Event>

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>EventPage</title>
    </head>
    <body>
        <h1>Ивенты GeekTime:</h1>
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Картинка</th>
                <th>Описание</th>
                <th>Админ ID</th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Describtion</td>
                        <td>@item.Image</td>
                        <td>@item.Admin</td>
                    </tr>
                }
            }
        </table>
        <a asp-area="" asp-controller="Event" asp-action="CreateEvent">Добавить ивент</a>
        <a asp-area="" asp-controller="Event" asp-action="DeleteEvent">Удалить ивент</a>
    </body>

</html>